%h1 Вход
= semantic_form_for @session, :url => session_path do |f|
  - if flash[:error]
    = flash[:error]
  = f.semantic_errors :login
  = f.inputs do
    = f.input :login,                        :label => "Имя пользователя"
    = f.input :password,                     :label => "Пароль"
    = f.input :remember_me, :as => :boolean, :label => "Помнить меня"
  = f.buttons do
    = f.submit "Войти"
