%h1 Log In
= semantic_form_for @session, :url => session_path do |f|
  - if flash[:error]
    = flash[:error]
  = f.semantic_errors :login
  = f.inputs do
    = f.input :login
    = f.input :password
    = f.input :remember_me, :as => :boolean
  = f.buttons do
    = f.submit
