.article
  = cache [article, :body] do
    .header
      %div{:class => "icon #{article.icon}"}
      - if !article.approved?
        %div{:class => "icon pending"}
      .date
        .number= article.created_at.day
        .month= I18n.t("months.genetive.#{article.created_at.month}")
      %h2
        %a{:href => url_for(article)}= article.title
      .clear
    .content
      = raw article.body
  .footer
    = cache [article, :author] do
      .author
        by
        - if article.author
          %a{:href => "#"} #{article.author.display_name}
        - else
          Аноним

    .menu
      = link_to "Редактировать", edit_article_path(article)
      - if article.approvable_by?(current_person)
        - if article.pending?
          = link_to "Одобрить", approve_article_path(article), :method => :put
        - else
          = link_to "Отклонить", unapprove_article_path(article), :method => :put
      = link_to "Удалить", article, :method => :delete, :confirm => "Уверены?"

  %a.comments{:href => article_path(article)} #{I18n.t(:comments, :count => article.comments.count)}
  .clear
.separator