!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title= !(title = yield(:title)).blank? ? "#{title} — blizzplanet.ru" : "blizzplanet.ru"
    = javascript_include_tag :defaults
    = stylesheet_link_tag "main", "main_3"
    = formtastic_stylesheet_link_tag
    = csrf_meta_tag
  %body
    #wrapper
      #header
        .logo
          %a{:href => root_url}
            %img{:src => "/images/logo.png", :alt => ""}
        = render :partial => "widgets/login"
        /
          .game-picker
            .arrow.left
            .games
              %ul
                %li
                  %img{:src => "/images/world_of_warcraft_logo.png", :alt => ""}
                %li
                  %a{:href => "#"} World of Warcraft
                %li
                  %a{:href => "#"} World of Warcraft: BC

            .arrow.right
          .clear
      #left
        /
          .hot.item
            .toggler
            %h4 Hot Games
            %ul
              %li
                %a{:href => "#"} Starcraft 2
              %li
                %a{:href => "#"} Diablo 3
        .item.active
          = render :partial => "widgets/leftbar_news"
        /
          .item.toggled
            .toggler
            %h4 Ресурсы
          .item.toggled
            %h4 Информация
          .item.toggled
            .toggler
            %h4 Общение
          .item.banner
            Inner banner
            %br
            (145x300 px)
      #content
        = yield
      #right
        /
          .item.search
            %form.search{:action => "#"}
              %input{:type => :text}
              %input{:type => :image, :src => "/images/search-button.png"}
              .clear

        = render :partial => "widgets/recent_articles"
        /
          .item.tags
            %h4 Облако тегов
            .tags
              %span.size-2 бизнес
              %span.size-6 блог
              %span.size-4 блоги
              %span.size-3 блогосфера
              %span.size-5 браузеры
              %span.size-1 будущее
              %span.size-1 видео
              %span.size-6 википедия
              %span.size-4 гаджеты
              %span.size-3 деньги
              %span.size-4 дизайн
              %span.size-3 домены
              %span.size-2 имена
              %span.size-3 ЖЖ
              %span.size-7 игры
              %span.size-4 идея
              %span.size-2 инвестиции
              %span.size-6 интернет
              %span.size-1 интернет-реклама
              %span.size-3 интерфейс
              %span.size-2 информация
              %span.size-1 бизнес
              %span.size-4 блог
              %span.size-5 блоги
      #footer
        %img{:src => "/images/bottom-logo.png", :alt => ""}
        %dl.copyright
          %dt Copyright &copy; 2006&ndash;2010
          %dd
            %a{:href => "#"} blizzplanet.ru
        %ul
          %li Новости
          %li
            %a{:href => root_url} Новости
          %li
            %a{:href => "#"} Архив

        = render :partial => "widgets/footer_games"
        /
          %ul
            %li Ресурсы
            %li
              %a{:href => "#"} Wallpapers
            %li
              %a{:href => "#"} Комиксы
            %li
              %a{:href => "#"} Мастерская
            %li
              %a{:href => "#"} Турниры
            %li
              %a{:href => "#"} Статьи
            %li
              %a{:href => "#"} Библиотека
          %ul
            %li Информация
            %li
              %a{:href => "#"} О сайте
            %li &nbsp;
            %li &nbsp;
            %li Общение
            %li
              %a{:href => "#"} Форумы